{{ if .IsHome }}
  <header class="row middle-xs center-xs">
    <div class="col-xs-12">
      <div class="row center-xs">
        <div class="col-xs-12" style="">
          <iframe id="player" style="height:80vh;width:100vw;" src="https://www.youtube-nocookie.com/embed/htOcNv_h1Fg" frameborder="0" allow="accelerometer; fullscreen; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <script>
            window.addEventListener("DOMContentLoaded", function(){
              var player = document.getElementById('player');
              if(window.innerHeight < window.innerWidth) {
                player.style.width = parseInt(player.offsetHeight*1.77) + "px";
              }
            });
          </script>
        </div>
      </div>
    </div>
  </header>
{{ end }}

<nav class="row middle-xs center-xs">
  <div class="col-xs-6 col-sm-1 logo">
    <a href="{{ .Site.BaseURL }}#"><img src="{{ .Site.Params.logoSmall }}" alt="{{ .Site.Title }}"></a>
  </div>
    {{ range .Site.Menus.main }}
      <div class="col-xs-3 col-sm-2">
        <h3><a href="{{ .URL }}">{{ .Name }}</a></h3>
      </div>
    {{ end }}
  <div class="col-xs-6 col-sm-1 nav-toggle">
      <a href="" class="nav-icon" onclick="return false"><img src="/images/icon-menu.png" alt="Open Menu"><img src="/images/icon-x.png" alt="Close Menu" style="display: none;"></a>
  </div>
</nav>

<section class="nav-full row middle-xs center-xs">
  <div class="col-xs-12">
    <div class="row middle-xs center-xs">
      {{ range .Site.Menus.main }}
        <div class="col-xs-12"><h1><a href="{{ .URL }}">{{ .Name }}</a></h1></div>
      {{ end }}
    </div>
  </div>
</section>
