<footer class="row middle-xs center-xs">
  <div class="col-xs-3 col-md-2">
    <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=REUH6JLTHgI&feature=youtu.be">Trailer</a>
  </div>

  <div class="col-xs-3 col-md-2">
    <a target="_blank" rel="noopener" href="https://www.facebook.com/EVAaCRISPRstory/">Facebook</a>
  </div>

  <div class="col-xs-3 col-md-2">
    <a target="_blank" rel="noopener" href="https://instagram.com/puneetbharill">Instagram</a>
  </div>

</footer>

{{ if .IsHome }}
  <script src="/scripts/{{ if .Site.Params.cacheBustJS }}{{ index .Site.Data.cachedAssets "index.js" }}{{ else }}index.min.js{{ end }}" type="text/javascript"></script>
  {{ if or (and (.Site.Params.ajaxFormspree) (.Site.Params.ajaxFormspreeGold)) (.Site.Params.ajaxBasin) }}
    <script>{{ partial "scripts/contact.min.js" . | safeJS }}</script>
  {{ end }}
{{ else }}
  <script src="/scripts/{{ if .Site.Params.cacheBustJS }}{{ index .Site.Data.cachedAssets "main.js" }}{{ else }}main.min.js{{ end }}" type="text/javascript"></script>
{{ end }}

