<section class="partial" id="trailer">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2>Film</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 middle-xs" style="margin-top:1.375rem; text-align:center;">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/htOcNv_h1Fg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</section>
